/* menus */
.menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    position: absolute;
    top: calc(100% + 4px);
    left: 8px;
    background-color: var(--bg-medium);
    border-radius: 8px;
    box-shadow: 0 0 16px var(--shadow-dark);
    padding: 6px 0 6px 0;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    overflow-y: auto;
    scrollbar-color: var(--bar-bg-color) transparent;
}

.menu-dropdown.row {
    flex-direction: row;
}

.menu-dropdown.wauto {
    min-width: 200px;
}

.menu-dropdown.wlimited {
    max-width: 600px;
}

.menu-dropdown.alignright {
    left: auto;
    right: 0;
}

.menu-dropdown.open {
    opacity: 1;
    transform: scaleY(1);
    z-index: 100;
}

@media (max-width: 960px) {
    .menu-dropdown {
        position: fixed;
        top: calc( var(--nav-main-height) + 20px );
        left: 50%;
        translate: -50% 0;
    }
    .menu-dropdown.wauto {
        max-width: calc(100dvw - 36px);
    }
    .menu-dropdown.row {
        flex-direction: column;
    }
    .menu-dropdown.aligncenter {
        left: 50%;
        translate: -50% 0;
    }
    .menu-dropdown.alignright {
        left: 50%;
        translate: -50% 0;
    }
}

.menu-section {
    display: flex;
    flex-direction: column;
}
.menu-section.borderright {
    border-right: 1px solid var(--border-color-menu);
}
@media (max-width: 960px) {
    .menu-section.borderright {
        border-right: none;
        border-bottom: 1px solid var(--border-color-menu);
    }
}

.menu-section-list {
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    scrollbar-color: var(--bar-bg-color) transparent;
    max-height: 100%;
    overflow-y: auto;
}
.menu-section-list div:not(.nohover):hover {
    background-color: var(--bg-light);
    border-radius: 6px;
}

.menu-section-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6px 12px;
}
.menu-section-input form {
    flex:1;
}

.menu-section-toggle {
    flex: 1;
    padding: 6px 12px;
    border-bottom: 1px solid var(--border-color-menu);
}
.menu-section-toggle div:hover {
    background-color: var(--bg-light);
    border-radius: 6px;
}

.menu-section-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 330px;
}

.menu-title {
    display: flex;
    align-items: center;
    padding: 6px 6px;
    gap: 8px;
    color: var(--text-light);
    letter-spacing: 0px;
	font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 6px 6px;
    gap: 8px;
    cursor: pointer;
    color: var(--text-light);
    font-size: 0.85rem;
}
.menu-item .menu-check {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu-item .menu-label {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.menu-icon {
    width: 18px;
    height: 18px;
}

