.dynlist-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 48px 36px 48px;
}
@media (max-width: 960px) {
    .dynlist-section-content {
        padding: 12px 0 0 0;
    }
}


.dynlist-build {
    display: flex;
    flex-grow: 1;
    gap: 18px;
    flex-direction: column;
}

.dynlist-row {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 0 12px;
}
.dynlist-row.center {
    justify-content: center;
}
@media (max-width: 960px) {
    .dynlist-row.adaptmedia {
        flex-direction:column;
        gap: 6px 0;
    }
}


.dynlist-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
}

@media (max-width: 960px) {
    .dynlist-result{
        font-size: 0.9rem;
    }
}


.song-prop-header, .song-prop-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 12px;
}
@media (max-width: 960px) {
    .song-prop-header {
        flex-direction: column;
        gap: 4px;
    }
}

.song-prop-header .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-prop-row {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
}

.song-prop-row-left {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 130px;
}

.song-prop-row-right {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow : hidden;
	text-overflow: ellipsis;
}
@media (max-width: 960px) {
    .song-prop-row-right {
        font-size: .9rem;
    }
}

.song-prop-stars {
	display: flex;
	gap: 4px;
	align-items: center;
	cursor: pointer;
	font-size: 1.3rem;
    justify-content: center;
}

.song-prop-album-art {
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 12px;
	box-shadow: 0 0 8px 4px var(--shadow-medium);
	background-color: var(--bg-medium);
}
@media (max-width: 960px) {
    .song-prop-album-art {
        width: 80px;
        height: 80px;
    }
}
