/* --- Vue Lecture en cours --- */
.np-container {
	display: flex;
	flex-direction: row;
    height: calc(100vh - var(--nav-main-height) - var(--player-bar-height) - 40px - 40px); /* - navbar - playerbar - padding-top - padding-bottom */
	overflow: hidden;
	padding: 40px 0;
	justify-content: space-between;
	align-items: stretch; /* Important : stretch pour que les colonnes remplissent toute la hauteur */
    position: relative;
	z-index: 0;
}

/* Colonne gauche fixe */
.np-left {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
    gap: 1px;
	box-sizing: border-box;
	overflow: hidden; /* Pas de scroll ici */
    padding-top: 10px;
    z-index: 1;
}

/* Colonne droite : playlist avec scroll interne */
.np-right {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto; /* scroll ici */
    z-index: 1;
    scrollbar-color: var(--bar-bg-color) transparent;
}

.np-album-art {
	width: 320px;
	height: 320px;
	object-fit: cover;
	border-radius: 12px;
	box-shadow: 0 0 8px 4px var(--shadow-medium);
	background-color: var(--bg-medium);
	opacity: 0;
	transition: opacity 0.3s ease;
	cursor: pointer;
}
.np-album-art.art-loaded {
	opacity: 1;
}

@media (max-width: 960px) {
    .np-container {
        flex-direction: column;
		padding: 20px 0;
		height: auto;
    }
	.np-left {
		width: 100%;
		padding-top: 0;
		justify-content: center;
		height: calc(100dvh - var(--nav-main-height) - var(--player-bar-height) - 60px);
	}
	.np-right {
		width: 100%;
	}
	.np-album-art {
		width: 260px;
		height: auto;
	}
}

.np-combine {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.np-song-title, .np-artist, .np-album, .np-year, .np-rating, .np-audiocodec {
	max-width: 100%;
    white-space: nowrap;
    overflow : hidden;
	/* text-overflow: ellipsis; */
}

.np-song-title {
	font-size: 1.3rem;
	font-weight: 700;
	padding-top: 6px;
	cursor: pointer;
}

.np-artist, .np-album, .np-rating {
	font-size: 1.1rem;
}

.np-year, .np-genres, .np-moods {
	font-size: 1rem;
}

.np-year, .np-moods, .np-audiocodec {
	color: var(--text-dark);
}

.np-rating {
	padding-bottom: 6px;
}

.np-stars {
	display: flex;
	gap: 4px;
	align-items: center;
	cursor: pointer;
}

.np-audiocodec {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28px;
	width: 56px;
	font-size: 0.85rem;
}
@media (max-width: 960px) {
    .np-audiocodec {
		margin-top: 2px;
    }
}

.np-icon-flac, .np-icon-mp3 {
	background-color: var(--text-medium);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
}

.np-icon-flac {
	mask-image: url('/resources/icons/flac.png');
}

.np-icon-mp3 {
	mask-image: url('/resources/icons/mp3.png');
}

.np-playlist-list {
    list-style: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.np-playlist-item {
    display: flex;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.np-playlist-item:hover {
	background-color: var(--bg-medium-transparent);
}

.np-playlist-item.playing {
    font-weight: bold;
	color: var(--accent-color);
}

.np-playlist-item .info {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.np-playlist-item .info .title {
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.np-playlist-item .info .meta {
    color: var(--text-medium);
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

.np-playlist-thumb-wrapper {
	position: relative;
    margin-right: 1rem;
}

.np-playlist-thumb-wrapper, .np-playlist-thumb {
	width: 48px;
	height: 48px;
}

.np-playlist-thumb {
	object-fit: cover;
	border-radius: 6px;
}

.np-playlist-playing-indicator {
    display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
    justify-content: center;
	background-color: var(--shadow-medium);
	border-radius: 4px;
	pointer-events: none;
}

.np-playlist-thumb-play-button {
    display: flex;
	position: absolute;
    top: 15%;
    left: 15%;
	width: 70%;
	height: 70%;
	align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    color: var(--text-medium);
	border: none;
	padding: 0px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s ease;
	z-index: 2;
}

.np-playlist-thumb-wrapper:hover .np-playlist-thumb-play-button {
	opacity: 1;
}

.np-playlist-thumb-play-button svg {
	pointer-events: none;
}

.np-playlist-thumb-play-button:hover {
    box-shadow: none;
}
