/* Variables globales */
:root {
	
	--nav-main-height: 60px;
	--player-bar-height: 80px;
    --player-bar-height480: 120px;

	--bg-light: #3a3a3a;
	--bg-medium: #282828;
	--bg-medium-transparent: color-mix(in srgb, var(--bg-medium) 50%, transparent);
    --bg-dark: #2c2c2c;
	--bg-darker: #1a1a1a;

	--text-white: white;
	--text-light: #f0f0f0;
	--text-medium: #aaa;
	--text-dark: #868686;
    --text-darker: #5c5b5b;

	/* accent rouge */
    /* --accent-color: #e50914; */
	/* --btn-accent-color: #92040b; */
	/* --btn-hover-color: #e50914; */

    /* accent bleu */
	--accent-color: #418bf9;
	--btn-accent-color: #3770c6;
	--btn-hover-color: #418bf9;

	--bar-bg-color: rgba(255, 255, 255, .3);
	--bar-hover-color: rgba(255, 255, 255, .6);

	--border-color-list: #252525;
	--border-color-menu: var(--bg-light);
	
	--shadow-light: rgba(0, 0, 0, 0.2);
	--shadow-medium: rgba(0, 0, 0, 0.4);
	--shadow-dark: rgba(0, 0, 0, 0.6);
}

/* corps */
body {
    font-family: 'Segoe UI', 'Roboto', sans-serif;
	font-size: 1rem; /* égale à la taille par défaut du navigateur (généralement 16px) */
    margin: 0;
    padding: 0;
    background-color: var(--bg-darker);
    color: var(--text-light);
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    align-items: center;
}




/* conteneurs */
.container {
    position: fixed;
    top : var(--nav-main-height);
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow-y: auto; /* active le scroll vertical si nécessaire */
    scrollbar-color: var(--bar-bg-color) transparent;
    scrollbar-gutter: stable;
}
@media (max-width: 960px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}


.container.player-bar-on {
    height: calc(100dvh - var(--nav-main-height) - var(--player-bar-height));
}

.container.player-bar-off {
    height: calc(100dvh - var(--nav-main-height));
}

@media (max-width: 960px) {
    .container.player-bar-on {
    height: calc(100dvh - var(--nav-main-height) - var(--player-bar-height480));
    }
}

.container-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0;
}



/* sections */
.section-header {
	display: flex;
    justify-content: space-between;
    margin-top: 10px;
	margin-bottom: 10px;
}

.section-header.center {
    justify-content: center;
    gap: 4px;
}

.section-header .left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
    justify-content: center;
}

.section-header .right-column {
    display: flex;
    text-align: right;
    gap: 4px;
}

.section-title {
	font-size: 1.35rem;
	font-weight: 700;
	color: var(--text-light);
	letter-spacing: 0.5px;
	position: relative;
}
@media (max-width: 960px) {
    .section-title {
        font-size: 1.2rem;
    }
}

.section-title.hover:hover{
	color: var(--accent-color);
    cursor: pointer;
}

.section-block {
    margin-top: 32px;
	margin-bottom: 32px;
}

.search-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: var(--bg-light);
    padding: 2px 6px;
    border: none;
    height: 32px;
    border-radius: 16px;
    /* width: 280px; */
    gap: 6px;
    box-sizing: border-box; /* Inclure le padding */
}
.search-form.w110 {
    width: 110px;
}

.search-form-icon {
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    color: var(--text-dark);
}
.search-form-icon:hover {
    color: var(--text-light);
}

.search-input {
    background: transparent;
    border: none;
    color: var(--text-light);
    font-size: 1rem;
    outline: none;
    width: 100%;
}
.search-input::placeholder {
    color: var(--text-dark);
    opacity: 1;
}
.search-input.center {
    text-align: center;
}


/* listes */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* elements cachés */
.hidden {
    display: none !important;
}



