
/* bandeau navigation */
.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20; /* Assure qu'il est au-dessus du contenu et de player-bar*/
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    box-sizing: border-box;
    height: var(--nav-main-height);
}
@media (max-width: 960px) {
	.nav-bar {
        padding: 10px 10px;
	}
}

.nav-menu, .nav-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 20%;
}

.nav-menu-trigger {
    position: relative;
}

.nav-search {
    justify-content: flex-end;
}

.nav-tab-menu {
    display: flex;
    background-color: var(--bg-medium-transparent);
    box-shadow: 0 4px 15px var(--shadow-medium);
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    padding: 4px;
    border-radius: 20px;
}

.nav-icon {
    fill: var(--btn-accent-color);
}
.nav-icon:hover {
    fill: var(--btn-hover-color);
}

.nav-tab-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 6px;
}

.nav-tab-menu li {
    flex: 0 0 auto;
}

.nav-tab-menu a {
    display: inline-flex;
    padding: 0 20px;
    align-items: center;
    height: 32px;
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border-radius: 16px;
}

.nav-tab-menu a.active {
    color: var(--text-white);
    background-color: var(--btn-accent-color);
    transition: background-color 0.3s ease;
}

.nav-tab-menu a:hover {
    background-color: var(--btn-hover-color);
    transition: background-color 0.3s ease;
}
