/* définition de la matrice (grille, liste, liste en colonnes) */
.view-grid {
	display: grid;
	justify-content: center;
	padding: 24px 0;
	gap: 24px;
	grid-template-columns: repeat(auto-fit, 180px);
}
/* Quand l’écran est plus petit que 480px */
@media (max-width: 960px) {
	.view-grid {
		grid-template-columns: repeat(auto-fit, 120px);
	}
}

.view-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.view-column {
	display: grid;
	padding: 12px 0;
	gap: 8px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-bottom: 20px;
}

.view-line {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    padding: 24px 0;
}


/* enfants */
.view-grid .card, .view-line .card {
	background-color: var(--bg-medium);
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 16px var(--shadow-medium);
	transition: transform 0.2s, box-shadow 0.2s;
	text-decoration: none;
	color: var(--text-light);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 180px;
	min-width: 0;
}
.view-grid .card:hover, .view-line .card:hover {
	transform: translateY(-6px) scale(1.03);
	box-shadow: 0 8px 32px var(--shadow-medium);
}
.view-line .card {
    min-width: 180px;
}
@media (max-width: 960px) {
	.view-line .card {
		min-width: 120px;
	}
}

.view-grid .card-image-container, .view-line .card-image-container{
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
	background-color: var(--bg-light);
	overflow: hidden;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.view-grid .card-content, .view-line .card-content {
    width: 100%;
	padding: 12px 8px 8px 8px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.view-grid .card-title, .view-line .card-title {
    width: 100%;
	font-size: 0.96rem;
	font-weight: 700;
    color: var(--text-light);
	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.view-grid .card-subtitle, .view-line .card-subtitle {
    width: 100%;
	font-size: 0.82rem;
	color: var(--text-medium);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.view-list .card, .view-column .card {
	display: flex;
	flex-direction: row;
	align-items: center;
   	border-radius: 8px;
	gap: 16px;
	padding: 8px 0;
    border-bottom: 1px solid var(--border-color-list);
	background: none;
	width: 100%;
	box-sizing: border-box;
	transition: box-shadow 0.2s, transform 0.2s;
    text-decoration: none;
}
.view-list .card:hover, .view-column .card:hover {
	background-color: var(--bg-medium);
}

.view-list .card-image-container, .view-column .card-image-container {
	flex: 0 0 64px;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-light);
	border-radius: 6px;
	overflow: hidden;
    margin-left: 6px;
}

.view-list .card-image-container.small, .view-column .card-image-container.small {
	flex: 0 0 48px;
	width: 48px;
	height: 48px;
}

.view-list .card-content, .view-column .card-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 0;
}

.view-list .card-title, .view-column .card-title {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    color: var(--text-light);
}

.view-list .card-subtitle, .view-column .card-subtitle {
	font-size: 0.82rem;
	color: var(--text-medium);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}


/* barres verticales */
.bar-vertical {
    position: fixed;
    top: var(--nav-main-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background: none;
    box-shadow: none;
    box-sizing: border-box;
}

.bar-vertical.player-bar-on {
  height: calc(100dvh - var(--nav-main-height) - var(--player-bar-height));
}
@media (max-width: 960px) {
    .bar-vertical.player-bar-on {
		height: calc(100dvh - var(--nav-main-height) - var(--player-bar-height480));

    }
}

.bar-vertical.player-bar-off {
  height: calc(100dvh - var(--nav-main-height));
}

.bar-vertical.left {
    left: 30px;
}
@media (max-width: 960px) {
    .bar-vertical.left {
    	left: 5px;
    }
}

.bar-vertical.right {
    right: 30px;
}
@media (max-width: 960px) {
    .bar-vertical.right {
		right: 5px;
    }
}

.bar-vertical.aligncenter {
    justify-content: center;
}

.bar-vertical.aligntop {
    padding-top: 30px;
    justify-content: flex-start;
}

.bar-vertical.alignbottom {
    padding-bottom: 30px;
    justify-content: flex-end;
}

.bar-vertical.alignends {
	padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.bar-vertical.alpha-bar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
}

.bar-vertical.alpha-bar li {
    font-size: 0.78rem;
    color: var(--text-medium);
    padding: 1px 0;
    cursor: pointer;
    border-radius: 8px;
    width: 28px;
    text-align: center;
}

.bar-vertical.alpha-bar li:hover {
    color: var(--accent-color);
	background-color: var(--bg-light);
}



@media (max-width: 960px) {
    .bar-vertical.alpha-bar li {
        font-size: 0.7rem;
		padding: .5px 0;
		width: 20px;
    }
}